[Desktop Entry]
Name=bCourses
# FIXME: Type=Link not work when double clicked, using Type=Application for now
#Type=Link
#URL=https://bcourses.berkeley.edu/
Type=Application
Exec=firefox https://bcourses.berkeley.edu/
Icon=/etc/ocf-assets/icons/bcourses.png
