name: Automated Deploy

on:
  push:
    branches:
      - "main"
  schedule:
    - cron: "0 8 * * *"

jobs:
  deploy:
    runs-on: ci-ocf-nix-deploy
    steps:
      - uses: actions/checkout@v4

      - name: Setup hosts
        run: |
          HOSTS=$(nix eval .#automatedDeployNodes --apply 'builtins.concatStringsSep " "' --raw)
          echo "HOSTS=$HOSTS" >> $GITHUB_ENV

      - name: Setup SSH
        run: |
          echo '${{ secrets.COLMENA_APPLY_SSH_KEY }}' > ${{ github.workspace }}/id_ed25519
          chmod 400 id_ed25519

          for host in $HOSTS; do
            cat secrets/host-keys/$host.pub | sed "s/^/$host.ocf.berkeley.edu /" >> known_hosts
          done

          echo "
          Identityfile $GITHUB_WORKSPACE/id_ed25519
          UserKnownHostsFile $GITHUB_WORKSPACE/known_hosts
          StrictHostKeyChecking yes
          UpdateHostKeys no
          " >> ${{ github.workspace }}/ssh_config

      - name: Deploy with colmena
        env:
          SSH_CONFIG_FILE: ${{ github.workspace }}/ssh_config
        run: |
          echo "$HOSTS" | tr ' ' '\n' | \
          xargs -P 10 -n 1 -I {} \
          sh -c "
            if nix develop .#deploy -c colmena apply --on {} switch > {}.log 2>&1; then
              echo '✅ Successfully deployed to {}'
            else
              echo '❌ Failed to deploy to {}'
              cat {}.log
              exit 1
            fi
          "
