name: Build Hosts

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: build-${{ github.ref || github.head_ref }}
  cancel-in-progress: true
jobs:
  check-flake:
    runs-on: ci-ocf-nix-build
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/flake-checker-action@v9

  build:
    runs-on: ci-ocf-nix-build
    needs: check-flake
    steps:
      - uses: actions/checkout@v4

      - name: Setup hosts
        run: |
          HOSTS=$(nix eval .#nixosConfigurations --apply 'nodes: builtins.concatStringsSep " " (builtins.attrNames nodes)' --raw)
          echo "HOSTS=$HOSTS" >> $GITHUB_ENV

      - name: Build with colmena
        run: nix develop -c colmena build --keep-result --nix-option keep-going true
