name: Build Hosts

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"

concurrency:
  group: build-${{ github.ref || github.head_ref }}
  cancel-in-progress: true
jobs:
  check-flake:
    runs-on: ci-ocf-nix-build
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/flake-checker-action@v9

  build:
    runs-on: ci-ocf-nix-build
    needs: check-flake
    steps:
      - uses: actions/checkout@v4

      - name: Setup hosts
        run: |
          HOSTS=$(nix eval .#nixosConfigurations --apply 'nodes: builtins.concatStringsSep " " (builtins.attrNames nodes)' --raw)
          echo "HOSTS=$HOSTS" >> $GITHUB_ENV

      - name: Build with colmena
        run: |
          echo "$HOSTS" | tr ' ' '\n' | \
          xargs -P 10 -n 1 -I {} \
          sh -c "
            if nix develop -c colmena build --on {} --keep-result > {}.log 2>&1; then
              echo '✅ Successfully built on {}'
            else
              echo '❌ Failed to build on {}'
              cat {}.log
              exit 1
            fi
          "
